body {
margin: 0;
padding: 0;
font-family: "Georgia", serif;
background: linear-gradient(#7b7986, #1e1e22);
color: #ffffff;
min-height: 100vh;
}



.header {
display: flex;
justify-content: space-between;
align-items: center;
padding: 25px 50px;
font-size: 30px;
color: white;
}


.header h1 {
margin: 0;
font-size: 46px;
}


.user-section {
font-size: 22px;
display: flex;
align-items: center;
gap: 10px;
opacity: 0.9;
}


.divider {
width: 90%;
margin: auto;
margin-top: -10px;
border: none;
border-top: 1px solid rgba(255, 255, 255, 0.2);
}



.welcome {
padding: 80px 60px;
font-size: 42px;
}



.content-box {
width: 90%;
margin: 40px auto;
padding: 40px;
background: rgba(255, 255, 255, 0.05);
border-radius: 16px;
backdrop-filter: blur(6px);
box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
}


.content-box h2 {
margin-top: 0;
font-size: 32px;
}
.search-bar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    gap: 20px;
    width: 48%;
    text-align: left;
}

input {
    width: 100%;
    padding: 14px;
    border: none;
    border-bottom: 2px solid #aaa;
    background: transparent;
    color: #fff;
    outline: none;
    font-size: 1.4rem;
}

input:focus {
    border-bottom: 2px solid #fff;
}

.search-btn {
    padding: 14px 20px;
    border: none;
    border-radius: 8px;
    background-color: #4b4b57;
    color: #fff;
    font-size: 1.4rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

